In [13]:
import pandas as pd

In [14]:
# 1. Read the data from a CSV file into a collection
data_file = 'customer_shopping_data.csv'
df = pd.read_csv(data_file)
df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

In [15]:
# 2. Count the population grouped by gender
population_counts = df['gender'].value_counts()
total_population = population_counts.sum()
population_percentages = population_counts / total_population * 100

population_by_gender = pd.DataFrame({
    'gender': population_counts.index,
    'count': population_counts.values,
    'percentage': population_percentages.values
})
population_by_gender['percentage'] = population_by_gender['percentage'].map("{:.2f}%".format)

print("Population grouped by gender:")
print(population_by_gender.to_string(index=False))
print(f"Total population: {total_population}\n")

Population grouped by gender:
gender  count percentage
Female  59482     59.81%
  Male  39975     40.19%
Total population: 99457

In [16]:
# 3. Find total sales grouped by gender (total sales = quantity * price)
df['total_sales'] = df['quantity'] * df['price']
sales_by_gender = df.groupby('gender')['total_sales'].sum().reset_index()
grand_total_sales = sales_by_gender['total_sales'].sum()
sales_by_gender['percentage'] = sales_by_gender['total_sales'] / grand_total_sales * 100
sales_by_gender['total_sales'] = sales_by_gender['total_sales'].map("${:,.2f}".format)
sales_by_gender['percentage'] = sales_by_gender['percentage'].map("{:.2f}%".format)

print("Total sales grouped by gender:")
print(sales_by_gender.to_string(index=False))
print(f"Grand total sales: ${grand_total_sales:,.2f}\n")

Total sales grouped by gender:
gender     total_sales percentage
Female $150,207,136.02     59.72%
  Male $101,298,658.23     40.28%
Grand total sales: $251,505,794.25

In [17]:
# 4. Find most used payment method
payment_counts = df['payment_method'].value_counts()
total_payments = payment_counts.sum()
payment_percentages = payment_counts / total_payments * 100

payment_summary = pd.DataFrame({
    'payment_method': payment_counts.index,
    'count': payment_counts.values,
    'percentage': payment_percentages.values
})
payment_summary['percentage'] = payment_summary['percentage'].map("{:.2f}%".format)

most_used_payment = payment_counts.idxmax()
most_used_count = payment_counts.max()

print("Payment method usage:")
print(payment_summary.to_string(index=False))
print(f"\nMost used payment method: {most_used_payment} ({most_used_count} transactions)\n")

Payment method usage:
payment_method  count percentage
          Cash  44447     44.69%
   Credit Card  34931     35.12%
    Debit Card  20079     20.19%

Most used payment method: Cash (44447 transactions)

In [18]:
# 5. Find day with the most sales
df['invoice_date'] = pd.to_datetime(df['invoice_date'], errors='coerce', dayfirst=True)
sales_by_day = df.groupby('invoice_date')['total_sales'].sum().reset_index()
sales_by_day['total_sales'] = sales_by_day['total_sales'].replace('[$]', '', regex=True).astype(float)

top_day = sales_by_day.nlargest(1, 'total_sales')
top_day['total_sales'] = top_day['total_sales'].map("${:,.2f}".format)

print("Day with the most sales:")
print(top_day.to_string(index=False))

Day with the most sales:
invoice_date total_sales
  2021-10-28 $534,906.86